[Unit]
Description=Checking 3G connection status
After=setup-sakis3g-modem.service

[Service]
Type=simple
Restart=always
RestartSec=20s
ExecStart=/bin/bash /opt/check-3gconnection.sh

[Install]
WantedBy=multi-user.target
